## EDA on Flight data

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import kagglehub
import zipfile

d:\python\.venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

## Features
    The various features of the cleaned dataset are explained below:
    1) Airline: The name of the airline company is stored in the airline column. It is a categorical feature having 6 different airlines.
    2) Flight: Flight stores information regarding the plane's flight code. It is a categorical feature.
    3) Source City: City from which the flight takes off. It is a categorical feature having 6 unique cities.
    4) Departure Time: This is a derived categorical feature obtained created by grouping time periods into bins. It stores information about the departure time and have 6 unique time labels.
    5) Stops: A categorical feature with 3 distinct values that stores the number of stops between the source and destination cities.
    6) Arrival Time: This is a derived categorical feature created by grouping time intervals into bins. It has six distinct time labels and keeps information about the arrival time.
    7) Destination City: City where the flight will land. It is a categorical feature having 6 unique cities.
    8) Class: A categorical feature that contains information on seat class; it has two distinct values: Business and Economy.
    9) Duration: A continuous feature that displays the overall amount of time it takes to travel between cities in hours.
    10)Days Left: This is a derived characteristic that is calculated by subtracting the trip date by the booking date.
    11) Price: Target variable stores information of the ticket price.

In [188]:
df = pd.read_excel(r"D:\python\EDA\Data\flight_data\flight_price.xlsx")
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  str
 1   Date_of_Journey  10683 non-null  str
 2   Source           10683 non-null  str
 3   Destination      10683 non-null  str
 4   Route            10682 non-null  str
 5   Dep_Time         10683 non-null  str
 6   Arrival_Time     10683 non-null  str
 7   Duration         10683 non-null  str
 8   Total_Stops      10682 non-null  str
 9   Additional_Info  10683 non-null  str
 10  Price            10683 non-null  int64
dtypes: int64(1), str(10)
memory usage: 918.2 KB

In [189]:

df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [190]:
df.tail()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [191]:
df.describe()

              Price
count  10683.000000
mean    9087.064121
std     4611.359167
min     1759.000000
25%     5277.000000
50%     8372.000000
75%    12373.000000
max    79512.000000

In [192]:
df['Date'] = df['Date_of_Journey'].str.split('/').str[0].astype('int32')
df['Month'] =df['Date_of_Journey'].str.split('/').str[1].astype('int32')
df['Year'] =df['Date_of_Journey'].str.split('/').str[2].astype('int32')

In [193]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,2019
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,5,2019
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,9,6,2019
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,12,5,2019
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,1,3,2019

In [194]:
df.drop(columns=['Date_of_Journey'], inplace=True)

In [195]:
df.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,2019
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,5,2019
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,9,6,2019
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,12,5,2019
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,1,3,2019

In [196]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  str
 1   Source           10683 non-null  str
 2   Destination      10683 non-null  str
 3   Route            10682 non-null  str
 4   Dep_Time         10683 non-null  str
 5   Arrival_Time     10683 non-null  str
 6   Duration         10683 non-null  str
 7   Total_Stops      10682 non-null  str
 8   Additional_Info  10683 non-null  str
 9   Price            10683 non-null  int64
 10  Date             10683 non-null  int32
 11  Month            10683 non-null  int32
 12  Year             10683 non-null  int32
dtypes: int32(3), int64(1), str(9)
memory usage: 959.9 KB

In [197]:
# df['Arrival_hour'] = df['Arrival_Time'].str.split(':').str[0].astype('int16')
# df['Arrival_min'] = df['Arrival_Time'].str.split(':').str[1]

In [198]:
df.head(2)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,2019
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,5,2019

In [199]:
df['Arrival_hour'] = df['Arrival_Time'].str.split().str[0].str.split(':').str[0].astype('int16')
df['Arrival_min'] = df['Arrival_Time'].str.split().str[0].str.split(':').str[1].astype('int16')

In [200]:
df.head(2)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,2019,1,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,5,2019,13,15

In [201]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  str
 1   Source           10683 non-null  str
 2   Destination      10683 non-null  str
 3   Route            10682 non-null  str
 4   Dep_Time         10683 non-null  str
 5   Arrival_Time     10683 non-null  str
 6   Duration         10683 non-null  str
 7   Total_Stops      10682 non-null  str
 8   Additional_Info  10683 non-null  str
 9   Price            10683 non-null  int64
 10  Date             10683 non-null  int32
 11  Month            10683 non-null  int32
 12  Year             10683 non-null  int32
 13  Arrival_hour     10683 non-null  int16
 14  Arrival_min      10683 non-null  int16
dtypes: int16(2), int32(3), int64(1), str(9)
memory usage: 1001.7 KB

In [202]:
df.drop(columns=['Arrival_Time'], inplace=True)

In [203]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  str
 1   Source           10683 non-null  str
 2   Destination      10683 non-null  str
 3   Route            10682 non-null  str
 4   Dep_Time         10683 non-null  str
 5   Duration         10683 non-null  str
 6   Total_Stops      10682 non-null  str
 7   Additional_Info  10683 non-null  str
 8   Price            10683 non-null  int64
 9   Date             10683 non-null  int32
 10  Month            10683 non-null  int32
 11  Year             10683 non-null  int32
 12  Arrival_hour     10683 non-null  int16
 13  Arrival_min      10683 non-null  int16
dtypes: int16(2), int32(3), int64(1), str(8)
memory usage: 918.2 KB

In [204]:
df['Departure_hrs'] = df['Dep_Time'].str.split(':').str[0].astype('int16')
df['Departure_min'] = df['Dep_Time'].str.split(':').str[1].astype('int16')
df.head(2)

,Airline,Source,Destination,Route,Dep_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Departure_hrs,Departure_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,2h 50m,non-stop,No info,3897,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,7h 25m,2 stops,No info,7662,1,5,2019,13,15,5,50

In [205]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  str
 1   Source           10683 non-null  str
 2   Destination      10683 non-null  str
 3   Route            10682 non-null  str
 4   Dep_Time         10683 non-null  str
 5   Duration         10683 non-null  str
 6   Total_Stops      10682 non-null  str
 7   Additional_Info  10683 non-null  str
 8   Price            10683 non-null  int64
 9   Date             10683 non-null  int32
 10  Month            10683 non-null  int32
 11  Year             10683 non-null  int32
 12  Arrival_hour     10683 non-null  int16
 13  Arrival_min      10683 non-null  int16
 14  Departure_hrs    10683 non-null  int16
 15  Departure_min    10683 non-null  int16
dtypes: int16(4), int32(3), int64(1), str(8)
memory usage: 959.9 KB

In [206]:
df.drop(columns=['Dep_Time'], inplace=True)

In [207]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  str
 1   Source           10683 non-null  str
 2   Destination      10683 non-null  str
 3   Route            10682 non-null  str
 4   Duration         10683 non-null  str
 5   Total_Stops      10682 non-null  str
 6   Additional_Info  10683 non-null  str
 7   Price            10683 non-null  int64
 8   Date             10683 non-null  int32
 9   Month            10683 non-null  int32
 10  Year             10683 non-null  int32
 11  Arrival_hour     10683 non-null  int16
 12  Arrival_min      10683 non-null  int16
 13  Departure_hrs    10683 non-null  int16
 14  Departure_min    10683 non-null  int16
dtypes: int16(4), int32(3), int64(1), str(7)
memory usage: 876.5 KB

In [208]:
df.head(2)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Departure_hrs,Departure_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662,1,5,2019,13,15,5,50

In [209]:
df['Total_Stops'].unique()

<StringArray>
['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops']
Length: 6, dtype: str

In [210]:
cond = [df['Total_Stops'] == 'non-stop',
        df['Total_Stops'] == '1 stop',
        df['Total_Stops'] == '2 stops',
        df['Total_Stops'] == '3 stops',
        df['Total_Stops'] == '4 stops',
        ]
choice = [0, 1, 2, 3, 4]

df['Total_Stops']= np.select(condlist=cond, choicelist=choice,default= 1)

In [211]:
df.head(3)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Departure_hrs,Departure_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,0,No info,3897,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2,No info,7662,1,5,2019,13,15,5,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2,No info,13882,9,6,2019,4,25,9,25

In [212]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  str
 1   Source           10683 non-null  str
 2   Destination      10683 non-null  str
 3   Route            10682 non-null  str
 4   Duration         10683 non-null  str
 5   Total_Stops      10683 non-null  int64
 6   Additional_Info  10683 non-null  str
 7   Price            10683 non-null  int64
 8   Date             10683 non-null  int32
 9   Month            10683 non-null  int32
 10  Year             10683 non-null  int32
 11  Arrival_hour     10683 non-null  int16
 12  Arrival_min      10683 non-null  int16
 13  Departure_hrs    10683 non-null  int16
 14  Departure_min    10683 non-null  int16
dtypes: int16(4), int32(3), int64(2), str(6)
memory usage: 876.5 KB

In [213]:
df['Total_Stops'] = df['Total_Stops'].astype('int16')
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  str
 1   Source           10683 non-null  str
 2   Destination      10683 non-null  str
 3   Route            10682 non-null  str
 4   Duration         10683 non-null  str
 5   Total_Stops      10683 non-null  int16
 6   Additional_Info  10683 non-null  str
 7   Price            10683 non-null  int64
 8   Date             10683 non-null  int32
 9   Month            10683 non-null  int32
 10  Year             10683 non-null  int32
 11  Arrival_hour     10683 non-null  int16
 12  Arrival_min      10683 non-null  int16
 13  Departure_hrs    10683 non-null  int16
 14  Departure_min    10683 non-null  int16
dtypes: int16(5), int32(3), int64(1), str(6)
memory usage: 813.9 KB

In [214]:
df[df['Total_Stops'].isnull()]

Empty DataFrame
Columns: [Airline, Source, Destination, Route, Duration, Total_Stops, Additional_Info, Price, Date, Month, Year, Arrival_hour, Arrival_min, Departure_hrs, Departure_min]
Index: []

In [215]:
df.drop(columns=['Route'], inplace=True)
df.head(2)

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Departure_hrs,Departure_min
0,IndiGo,Banglore,New Delhi,2h 50m,0,No info,3897,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,7h 25m,2,No info,7662,1,5,2019,13,15,5,50

In [216]:
df['Duration_hrs'] = df['Duration'].str.split().str[0].str.split('h').str[0].str.split('m').str[0].astype(np.int8)
df['Duration_min'] = df['Duration'].str.split().str[1].str.split('m').str[0]
df.head()

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Departure_hrs,Departure_min,Duration_hrs,Duration_min
0,IndiGo,Banglore,New Delhi,2h 50m,0,No info,3897,24,3,2019,1,10,22,20,2,50
1,Air India,Kolkata,Banglore,7h 25m,2,No info,7662,1,5,2019,13,15,5,50,7,25
2,Jet Airways,Delhi,Cochin,19h,2,No info,13882,9,6,2019,4,25,9,25,19,NaN
3,IndiGo,Kolkata,Banglore,5h 25m,1,No info,6218,12,5,2019,23,30,18,5,5,25
4,IndiGo,Banglore,New Delhi,4h 45m,1,No info,13302,1,3,2019,21,35,16,50,4,45

In [217]:
#Converting object column containg nan to interger without getting errors
df['Duration_min'] = pd.to_numeric(df['Duration_min'], errors='coerce')

In [218]:
df['Duration_min'].isna()
df['Duration_min'].median()

np.float64(30.0)

In [219]:
df3 = df[:]

In [220]:
df['Duration_min'] = np.select(condlist= [df['Duration_min'].isna()], choicelist= [df['Duration_min'].median()], default=df['Duration_min'])
df.head()

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Departure_hrs,Departure_min,Duration_hrs,Duration_min
0,IndiGo,Banglore,New Delhi,2h 50m,0,No info,3897,24,3,2019,1,10,22,20,2,50.0
1,Air India,Kolkata,Banglore,7h 25m,2,No info,7662,1,5,2019,13,15,5,50,7,25.0
2,Jet Airways,Delhi,Cochin,19h,2,No info,13882,9,6,2019,4,25,9,25,19,30.0
3,IndiGo,Kolkata,Banglore,5h 25m,1,No info,6218,12,5,2019,23,30,18,5,5,25.0
4,IndiGo,Banglore,New Delhi,4h 45m,1,No info,13302,1,3,2019,21,35,16,50,4,45.0

In [222]:
from sklearn.preprocessing import OneHotEncoder

In [223]:
encode = OneHotEncoder()
df1 = pd.DataFrame(encode.fit_transform(df[['Airline', 'Source', 'Destination', 'Additional_Info']]).toarray(), columns=encode.get_feature_names_out())
df1 = df1.astype(np.int8)
df1.info()

<class 'pandas.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 33 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Airline_Air Asia                              10683 non-null  int8
 1   Airline_Air India                             10683 non-null  int8
 2   Airline_GoAir                                 10683 non-null  int8
 3   Airline_IndiGo                                10683 non-null  int8
 4   Airline_Jet Airways                           10683 non-null  int8
 5   Airline_Jet Airways Business                  10683 non-null  int8
 6   Airline_Multiple carriers                     10683 non-null  int8
 7   Airline_Multiple carriers Premium economy     10683 non-null  int8
 8   Airline_SpiceJet                              10683 non-null  int8
 9   Airline_Trujet                                10683 non-null  int8
 10  Airline_Vistara                               10683 non-null  int8
 11  Airline_Vistara Premium economy               10683 non-null  int8
 12  Source_Banglore                               10683 non-null  int8
 13  Source_Chennai                                10683 non-null  int8
 14  Source_Delhi                                  10683 non-null  int8
 15  Source_Kolkata                                10683 non-null  int8
 16  Source_Mumbai                                 10683 non-null  int8
 17  Destination_Banglore                          10683 non-null  int8
 18  Destination_Cochin                            10683 non-null  int8
 19  Destination_Delhi                             10683 non-null  int8
 20  Destination_Hyderabad                         10683 non-null  int8
 21  Destination_Kolkata                           10683 non-null  int8
 22  Destination_New Delhi                         10683 non-null  int8
 23  Additional_Info_1 Long layover                10683 non-null  int8
 24  Additional_Info_1 Short layover               10683 non-null  int8
 25  Additional_Info_2 Long layover                10683 non-null  int8
 26  Additional_Info_Business class                10683 non-null  int8
 27  Additional_Info_Change airports               10683 non-null  int8
 28  Additional_Info_In-flight meal not included   10683 non-null  int8
 29  Additional_Info_No Info                       10683 non-null  int8
 30  Additional_Info_No check-in baggage included  10683 non-null  int8
 31  Additional_Info_No info                       10683 non-null  int8
 32  Additional_Info_Red-eye flight                10683 non-null  int8
dtypes: int8(33)
memory usage: 344.4 KB

In [224]:
df = pd.concat([df,df1], axis=1)
df.drop(df[['Airline', 'Source', 'Destination', 'Additional_Info']], axis=1, inplace=True)

In [227]:
df.drop(columns=['Duration'], inplace=True)
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 44 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Total_Stops                                   10683 non-null  int16
 1   Price                                         10683 non-null  int64
 2   Date                                          10683 non-null  int32
 3   Month                                         10683 non-null  int32
 4   Year                                          10683 non-null  int32
 5   Arrival_hour                                  10683 non-null  int16
 6   Arrival_min                                   10683 non-null  int16
 7   Departure_hrs                                 10683 non-null  int16
 8   Departure_min                                 10683 non-null  int16
 9   Duration_hrs                                  10683 non-null  int8
 10  Duration_min                                  10683 non-null  float64
 11  Airline_Air Asia                              10683 non-null  int8
 12  Airline_Air India                             10683 non-null  int8
 13  Airline_GoAir                                 10683 non-null  int8
 14  Airline_IndiGo                                10683 non-null  int8
 15  Airline_Jet Airways                           10683 non-null  int8
 16  Airline_Jet Airways Business                  10683 non-null  int8
 17  Airline_Multiple carriers                     10683 non-null  int8
 18  Airline_Multiple carriers Premium economy     10683 non-null  int8
 19  Airline_SpiceJet                              10683 non-null  int8
 20  Airline_Trujet                                10683 non-null  int8
 21  Airline_Vistara                               10683 non-null  int8
 22  Airline_Vistara Premium economy               10683 non-null  int8
 23  Source_Banglore                               10683 non-null  int8
 24  Source_Chennai                                10683 non-null  int8
 25  Source_Delhi                                  10683 non-null  int8
 26  Source_Kolkata                                10683 non-null  int8
 27  Source_Mumbai                                 10683 non-null  int8
 28  Destination_Banglore                          10683 non-null  int8
 29  Destination_Cochin                            10683 non-null  int8
 30  Destination_Delhi                             10683 non-null  int8
 31  Destination_Hyderabad                         10683 non-null  int8
 32  Destination_Kolkata                           10683 non-null  int8
 33  Destination_New Delhi                         10683 non-null  int8
 34  Additional_Info_1 Long layover                10683 non-null  int8
 35  Additional_Info_1 Short layover               10683 non-null  int8
 36  Additional_Info_2 Long layover                10683 non-null  int8
 37  Additional_Info_Business class                10683 non-null  int8
 38  Additional_Info_Change airports               10683 non-null  int8
 39  Additional_Info_In-flight meal not included   10683 non-null  int8
 40  Additional_Info_No Info                       10683 non-null  int8
 41  Additional_Info_No check-in baggage included  10683 non-null  int8
 42  Additional_Info_No info                       10683 non-null  int8
 43  Additional_Info_Red-eye flight                10683 non-null  int8
dtypes: float64(1), int16(5), int32(3), int64(1), int8(34)
memory usage: 751.3 KB

In [228]:
df['Duration_min'] = df['Duration_min'].astype(np.int16)
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 44 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Total_Stops                                   10683 non-null  int16
 1   Price                                         10683 non-null  int64
 2   Date                                          10683 non-null  int32
 3   Month                                         10683 non-null  int32
 4   Year                                          10683 non-null  int32
 5   Arrival_hour                                  10683 non-null  int16
 6   Arrival_min                                   10683 non-null  int16
 7   Departure_hrs                                 10683 non-null  int16
 8   Departure_min                                 10683 non-null  int16
 9   Duration_hrs                                  10683 non-null  int8
 10  Duration_min                                  10683 non-null  int16
 11  Airline_Air Asia                              10683 non-null  int8
 12  Airline_Air India                             10683 non-null  int8
 13  Airline_GoAir                                 10683 non-null  int8
 14  Airline_IndiGo                                10683 non-null  int8
 15  Airline_Jet Airways                           10683 non-null  int8
 16  Airline_Jet Airways Business                  10683 non-null  int8
 17  Airline_Multiple carriers                     10683 non-null  int8
 18  Airline_Multiple carriers Premium economy     10683 non-null  int8
 19  Airline_SpiceJet                              10683 non-null  int8
 20  Airline_Trujet                                10683 non-null  int8
 21  Airline_Vistara                               10683 non-null  int8
 22  Airline_Vistara Premium economy               10683 non-null  int8
 23  Source_Banglore                               10683 non-null  int8
 24  Source_Chennai                                10683 non-null  int8
 25  Source_Delhi                                  10683 non-null  int8
 26  Source_Kolkata                                10683 non-null  int8
 27  Source_Mumbai                                 10683 non-null  int8
 28  Destination_Banglore                          10683 non-null  int8
 29  Destination_Cochin                            10683 non-null  int8
 30  Destination_Delhi                             10683 non-null  int8
 31  Destination_Hyderabad                         10683 non-null  int8
 32  Destination_Kolkata                           10683 non-null  int8
 33  Destination_New Delhi                         10683 non-null  int8
 34  Additional_Info_1 Long layover                10683 non-null  int8
 35  Additional_Info_1 Short layover               10683 non-null  int8
 36  Additional_Info_2 Long layover                10683 non-null  int8
 37  Additional_Info_Business class                10683 non-null  int8
 38  Additional_Info_Change airports               10683 non-null  int8
 39  Additional_Info_In-flight meal not included   10683 non-null  int8
 40  Additional_Info_No Info                       10683 non-null  int8
 41  Additional_Info_No check-in baggage included  10683 non-null  int8
 42  Additional_Info_No info                       10683 non-null  int8
 43  Additional_Info_Red-eye flight                10683 non-null  int8
dtypes: int16(6), int32(3), int64(1), int8(34)
memory usage: 688.7 KB

In [229]:
df.dtypes.unique()

array([dtype('int16'), dtype('int64'), dtype('int32'), dtype('int8')],
      dtype=object)